---
export const prerender = false;
import DashboardLayout from "../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Panel administrador">
	<section class="card">
		<h1>Bienvenido</h1>
		<!-- <p>Acá irán accesos rápidos y widgets.</p> -->
	</section>

	<style>
		.card {
			padding: 1rem;
			border: 1px solid #e7e7e7;
			border-radius: 12px;
			background: #fff;
		}
	</style>
</DashboardLayout>
